<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
<h2>テスト用画面 002 </h2>

<hr/>
<h3>setString</h3> 
<span th:text="*{setString}"></span><br/>





<!--====================================================================================================-->
<br/>
<br/>
<br/>
<div>
<a href="../index.html" th:href="@{/}">トップ画面へ戻る</a> 
</div>
</body>
</html>