<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>top page</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<style>
h1{ font-size:18pt; font-weight:bold; color:gray; }
body{ font-size:13pt; color:gray; margin:5px 25px; }
/*pre{ border:solid 3px #ddd; padding:10px; }*/
/*pre{ font-size:13pt; color:gray; padding:5px 10px; border:1px solid gray; }*/
tr{ margin:5px; }
th{ padding:5px; color:white; background:darkgray; }
td{ padding:5px; color:black; background:#e0e0ff; }
.err{ color:red; }
</style>
<!--======================================================================-->
<!-- list_04_26 -->
<script th:inline="javascript">
function action(){
	var val = document.getElementById("text1").value;
	var res = parseInt(val * ((100 + /*[[${tax}]]*/) / 100));
	document.getElementById("msg").innerHTML = "include tax: " + res;
}
</script>
<!--======================================================================-->
<!-- list_04_28 -->
<style th:include="part :: frag_style"></style>
<!--======================================================================-->
</head>
<body>
<!-- list_05_19 -->
<h1 th:text="#{content.title}">Helo page</h1>
<p th:text="${msg}"></p>
<table>
<form method="post" action="/" th:object="${formModel}">
<tr>
<td><label for="name">名前</label></td>
<td><input type="text" name="name" th:value="*{name}" th:errorclass="err" />
<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="err"></div></td>
</tr>
<tr>
<td><label for="age">年齢</label></td>
<td><input type="text" name="age" th:value="*{age}" th:errorclass="err" />
<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" th:errorclass="err"></div></td>
</tr>
<tr>
<td><label for="mail">メール</label></td>
<td><input type="text" name="mail" th:value="*{mail}" th:errorclass="err"/>
<div th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" th:errorclass="err"></div></td>
</tr>
<tr>
<td><label for="memo">メモ</label></td><td><textarea name="memo" th:text="*{memo}" th:errorclass="err" cols="20" rows="5"></textarea>
<div th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" th:errorclass="err"></div></td>
</tr>
<tr><td></td><td><input type="submit" /></td></tr>
</form>
</table>
<hr/>
<table>
<tr><th>ID</th><th>名前</th></tr>
<tr th:each="obj : ${datalist}">
  <td th:text="${obj.id}"></td>
  <td th:text="${obj.name}"></td>
</tr>
</table>

<!--======================================================================-->
<!-- list_05_18
<h1 th:text="#{content.title}">Helo page</h1>
<p th:text="${msg}"></p>
<table>
<form method="post" action="/" th:object="${formModel}">
<ul>
<li th:each="error : ${#fields.detailedErrors()}" class="err" th:text="${error.message}" />
</ul>
<tr><td><label for="name">名前</label></td><td><input type="text" name="name" th:field="*{name}" /></td></tr>
<tr><td><label for="age">年齢</label></td><td><input type="text" name="age" th:field="*{age}" /></td></tr>
<tr><td><label for="mail">メール</label></td><td><input type="text" name="mail" th:field="*{mail}" /></td></tr>
<tr><td><label for="memo">メモ</label></td><td><textarea name="memo" th:field="*{memo}" cols="20" rows="5"></textarea></td></tr>
<tr><td></td><td><input type="submit" /></td></tr>
</form>
</table>
<hr/>
<table>
<tr><th>ID</th><th>名前</th></tr>
<tr th:each="obj : ${datalist}">
  <td th:text="${obj.id}"></td>
  <td th:text="${obj.name}"></td>
</tr>
</table>
-->
<!--======================================================================-->
<!-- list_05_07
<h1 th:text="#{content.title}">Helo page</h1>
<table>
<form method="post" action="/" th:object="${formModel}">
<tr><td><label for="name">名前</label></td><td><input type="text" name="name" th:value="*{name}" /></td></tr>
<tr><td><label for="age">年齢</label></td><td><input type="text" name="age" th:value="*{age}" /></td></tr>
<tr><td><label for="mail">メール</label></td><td><input type="text" name="mail" th:value="*{mail}" /></td></tr>
<tr><td><label for="memo">メモ</label></td><td><textarea name="memo" th:text="*{memo}" cols="20" rows="5"></textarea></td></tr>
<tr><td></td><td><input type="submit" /></td></tr>
</form>
</table>
<hr/>
<table>
<tr><th>ID</th><th>名前</th></tr>
<tr th:each="obj : ${datalist}">
  <td th:text="${obj.id}"></td>
  <td th:text="${obj.name}"></td>
</tr>
</table>
 -->
<!--======================================================================-->
<!-- list_04_28
<h1 th:text="#{content.title}">Hello page</h1>
<pre th:text="${data}"></pre>
-->
<!--======================================================================-->
<!-- list_04_28
<div th:include="part :: frag_body">
  <p>this is original content.</p>
</div>
-->
<!--======================================================================-->
<!-- list_04_26
<p id="msg"></p>
<input type="text" id="text1" />
<button onclick="action()">click</button>
-->
<!--======================================================================-->
<!-- list_04_24 -->
<!--
<table th:inline="text">
<tr><th>NAME</th><th>MAIL</th><th>TEL</th></tr>
<tr th:each="obj : ${data}">
  <td>[[${obj.id}]]</td>
  <td>[[${obj.name}]]</td>
  <td>[[${obj.value}]]</td>
</tr>
</table>
-->
<!--======================================================================-->
<!-- list_04_22 -->
<!--
<p th:text="|expression[${check}]|"></p>
<table th:object="${data.get(__${check}__)}">
  <tr><th>ID</th><td th:text="*{id}"></td></tr>
  <tr><th>NAME</th><td th:text="*{name}"></td></tr>
  <tr><th>MAIL</th><td th:text="*{value}"></td></tr>
</table>
-->
 <!--======================================================================-->
<!-- list_04_20 -->
<!-- 
<table>
<tr><th>NAME</th><th>MAIL</th><th>TEL</th></tr>
<tr th:each="obj:${data}">
  <td th:text="${obj[0]}"></td>
  <td th:text="${obj[1]}"></td>
  <td th:text="${obj[2]}"></td>
</tr>
</table>
-->
<!--======================================================================-->
<!-- list_04_20 -->
<!--
<div th:switch="${check}">
  <p th:case="0" th:text="|${month} - Winter|"></p>
  <p th:case="1" th:text="|${month} - Spring|"></p>
  <p th:case="2" th:text="|${month} - Summer|"></p>
  <p th:case="3" th:text="|${month} - Autumn|"></p>
  <p th:case="4" th:text="|${month} - Winter|"></p>
  <p th:case="*">...?</p>
</div>
-->
<!--======================================================================-->
<!-- list_04_18 -->
<!--
<p th:if="${check}" th:text="${id} + ' is ' + ${trueVal}">message.</p>
<p th:unless="${check}" th:text="${id} + ' is ' + ${falseVal}">message.</p>
-->
<!--======================================================================-->
<!-- list_04_14 -->
<!--
<p th:text="${id} + ' is ' + ${check} ? ${trueVal} : ${falseVal}"></p>
-->
<!--======================================================================-->
<!-- 
<div th:object="${object}">
  <p th:text="|my name is *{name}. mail address is *{value}.|">message.</p>
</div>
-->
<!--======================================================================-->
<!-- 
<table th:object="${object}">
<tr><th>ID</th><td th:text="*{id}"></td></tr>
<tr><th>NAME</th><td th:text="*{name}"></td></tr>
<tr><th>MAIL</th><td th:text="*{value}"></td></tr>
</table>
-->
<!--======================================================================-->
<h1 th:text="#{content.title}">Helo Page</h1>
<!-- プロパティファイルから値を取得 -->
<p th:text="#{content.message}"></p>
<!--
<p><a th:href="@{'/home/' + ${param.id[0]}}">link</a></p>
-->
<!--======================================================================-->
<p th:text="${new java.util.Date().toString()}"></p>
<p th:text="${#dates.format(new java.util.Date(),'dd/MMM/yyyy HH:mm')}"></p>
<p th:text="${#numbers.formatInteger(1234,7)}"></p>
<p th:text="${#strings.toUpperCase('Welcome to Spring.')}"></p>
<!-- http://localhost:8080/home/?id=ok&name=ttttt
<p th:text="'from parameter... id=' + ${param.id[0] + ', name=' + param.name[0]}"></p>
-->
<!-- エスケープあり 
<pre th:text="${msg}">please wait...</pre>
-->
<!-- エスケープなし-->
<pre th:utext="${msg}">please wait...</pre>

<form method="post" action="/">
  <div>
    <input type="checkbox" id="check1" name="check1" />
    <label for="check1">チェック</label>
  </div>
  <div>
    <input type="radio" id="radioA" name="radio1" value="male" />
    <label for="radioA">男性</label>
  </div>
  <div>
    <input type="radio" id="radioB" name="radio1" value="female" />
    <label for="radioB">女性</label>
  </div>
  <div>
    <select id="select1" name="select1" size="4">
      <option value="Windows">Windows</option>
      <option value="Mac">Mac</option>
      <option value="Linux">Linux</option>
    </select>
    <select id="select2" name="select2" size="4" multiple="multiple">
      <option value="Android">Android</option>
      <option value="iphone">iphone</option>
      <option value="Winfone">Windows Phone</option>
    </select>
  </div>
  <input type="text" name="text1" th:value="${value}" />
  <input type="submit" value="click" />
</form>
</body>
</html>