<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>top page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
h1 { font-size:18pt; font-weight:bold; color:gray; }
body { font-size:13pt; color:gray; matgin:5px 25px; }
</style>
<script type="text/javascript" th:inline="javascript">
<!--
  var foo = {}; // namespace
  foo.CONTEXT_ROOT = /*[[${#httpServletRequest.contextPath}]]*/ '';
//-->
</script>
</head>
<body>
<h1>Helo page</h1>
<p class="msg">this is Thymeleaf sample page.</p>
<p class="msg" th:text="${msg}">please wait...</p>
<form method="post" action="/">
<input type="text" name="text1" th:value="${value}"/>
<input type="submit" value="Click"/>
</form>
<!-- ------------------------------------------------------ -->
<hr>
<h2>Parts</h2>
<dl>
<li><a th:href="@{/parts/chkbox}" >チェックボックス</a>
<li><a th:href="@{/parts/radio}" >ラジオボタン</a>
<li><a th:href="@{/parts/select}" >セレクトボックス</a>
<dl>
<!-- ------------------------------------------------------ -->
<hr>
<h2>リダイレクト・フォワード</h2>
<dl>
<li><a th:href="@{/redirect_forward/index}" >リダイレクト・フォワード</a>
<dl>

<!-- ------------------------------------------------------ -->



</body>
</html>