<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>経理システム</title>
<meta charset="utf-8"/>
<!-- <link rel="stylesheet" type="text/css" href="/css/table.css"> -->
<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/table.css}">
</head>
<body>
<!--/* th:text 
<div th:text="${yokinForm.testStr}">This text is going to be replaced</div>
<div th:text="${yokinForm.yokinList}">This text is going to be replaced</div>
*/-->
<h1>預金出納帳</h1>

<hr><!-- ----------------------------------------------- -->
<h2>登録フォーム</h2>
<form method="post" action="#" th:action="@{/goToYokin/regist}" th:object="${yokinForm}">
  <ul>
  <li>適用：<input type="text"  th:field="*{yokin.tekiyo}" />
  </ul>
  <input type="submit" value="格納"/><br>
</form>



<hr><!-- ----------------------------------------------- -->
<!-- <form method="post" action="#" th:action="@{/confirm}" th:object="${yokinForm}"> -->
<!-- <form th:object="${yokinForm}"> -->
<table class="example">
<caption>預金出納帳</caption>
<thead>
<tr>
<th>取引日付</th>
<th>適用</th>
<th>入金（借方）</th>
<th>出金（貸方）</th>
<th>差引残高</th>
</tr>
</thead>

<tfoot>
<tr>
<td>フッタセル1</td>
<td>フッタセル2</td>
<td>フッタセル3</td>
<td>フッタセル4</td>
<td>フッタセル5</td>
</tr>
</tfoot>

<tbody>
<tr th:each="yokin, stat : ${yokinForm.yokinList}" th:object="${yokin}">
    <td th:text="*{hiduke}">1111</td>
    <td th:text="*{tekiyo}">22222</td>
    <td th:text="*{nyuukin}">33333</td>
    <td th:text="*{syukkin}">44444</td>
    <td th:text="*{zandaka}">55555</td>
  </tr>
</tbody>
</table>
<!-- </form> -->

</body>
</html>