<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>経理システム</title>
<meta charset="utf-8"/>
<!-- <link rel="stylesheet" type="text/css" href="/css/table.css"> -->
<link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/table.css}">
</head>
<body>
<!--/* th:text 
<div th:text="${yokinForm.testStr}">This text is going to be replaced</div>
<div th:text="${yokinForm.yokinList}">This text is going to be replaced</div>
*/-->
<div th:text="${yokinForm.editId}">This text is going to be replaced</div>
<h1>預金出納帳</h1>

<hr><!-- ----------------------------------------------- -->
<h2>登録フォーム</h2>
<form method="post" action="#" th:action="@{/goToYokin}" th:object="${yokinForm}">
  <ul>
  <li>金融コード：<input type="number" required th:field="*{yokin.kinyuCd}" min="0000" max="9999"/>
  <li>取引日付<input type="date" name="date" id="date" required  th:field="*{dateStr}"/>
  <li>科目コード：<input type="number" required th:field="*{yokin.kamokuCd}" min="0000" max="9999"/>
  <li>適用：<input type="text"  th:field="*{yokin.tekiyo}" />
  <li>入金（借方）：<input type="number" required th:field="*{yokin.nyuukin}" />
  <li>出金（貸方）：<input type="number" required th:field="*{yokin.syukkin}" />
  </ul>
  <input type="submit" name="/regist" value="格納"/><br>
</form>

<hr><!-- ----------------------------------------------- -->
<!-- <form method="post" action="#" th:action="@{/confirm}" th:object="${yokinForm}"> -->
<!-- <form th:object="${yokinForm}"> -->
<form method="post" name="yokinForm" action="#" th:action="@{/goToYokin}" th:object="${yokinForm}">
<table class="example">
<caption>預金出納帳</caption>
<thead>
<tr>
<th>預金ID</th>
<th>金融コード</th>
<th>取引日付</th>
<th>科目コード</th>
<th>適用</th>
<th>入金（借方）</th>
<th>出金（貸方）</th>
<th>差引残高</th>
<th>編集</th>
<th>削除</th>
</tr>
</thead>
<tbody>
  <tr th:each="yokin, stat : ${yokinForm.yokinList}" th:object="${yokin}">
    <!-- 預金ID -->
    <td th:text="*{yokinId}">1111</td>
    <!-- 金融コード -->
    <td th:if="${yokinForm.editId} == *{yokinId}">
      <!-- 編集中 -->
      <!-- <input type="number" required th:field="${yokin[__${stat.index}__].kinyuCd}" min="0000" max="9999"/> -->
      <input type="number" required th:field="${yokinForm.editYokin.kinyuCd}" min="0000" max="9999"/>
    </td>
    <td th:if="${yokinForm.editId} != *{yokinId}">
      <!-- 編集してない-->
      <div th:text="*{kinyuCd}">1111</div>
    </td>
    <!-- <td th:text="*{hiduke}">1111</td> -->
    <!-- 取引日付 -->
    <td th:if="${yokinForm.editId} == *{yokinId}">
      <!-- 編集中 -->
      <input type="date" name="date" id="date" required  th:field="${yokinForm.editDateStr}" value='${yokinForm.editDateStr}'/>
    </td>
    <td th:if="${yokinForm.editId} != *{yokinId}">
      <!-- 編集してない-->
      <div th:text="*{#dates.format(hiduke, 'yyyy/MM/dd')}">1111</div>
    </td>

    <!-- 科目コード -->
    <td th:if="${yokinForm.editId} == *{yokinId}">
      <!-- 編集中 -->
      <input type="number" required th:field="${yokinForm.editYokin.kamokuCd}" min="0000" max="9999"/>
    </td>
    <td th:if="${yokinForm.editId} != *{yokinId}">
      <!-- 編集してない-->
        <div th:text="*{kamokuCd}">1111</div>
    </td>

    <!-- 適用 -->
    <td th:if="${yokinForm.editId} == *{yokinId}">
      <!-- 編集中 -->
      <input type="text"  th:field="${yokinForm.editYokin.tekiyo}" />
    </td>
    <td th:if="${yokinForm.editId} != *{yokinId}">
      <!-- 編集してない-->
      <div th:text="*{tekiyo}">22222</div>
    </td>

    <!-- 入金（借方） -->
    <td th:if="${yokinForm.editId} == *{yokinId}">
      <!-- 編集中 -->
      <!-- ここの調査から -->
      <input type="number" required th:field="*{yokinForm.editYokin.nyuukin}" />
    </td>
    <td th:if="${yokinForm.editId} != *{yokinId}">
      <!-- 編集してない-->
      <!-- <td th:text="*{nyuukin}">33333</td> -->
      <div th:text="*{#strings.prepend(#numbers.formatInteger(nyuukin,1,'COMMA'),'¥')}">¥999,999,999</div>
    </td>

    <!-- <td th:text="*{syukkin}">44444</td> -->
    <td th:text="*{#strings.prepend(#numbers.formatInteger(syukkin,1,'COMMA'),'¥')}">¥999,999,999</td>
    <!-- <td th:text="*{zandaka}">55555</td> -->
    <td th:text="*{#strings.prepend(#numbers.formatInteger(zandaka,1,'COMMA'),'¥')}">¥999,999,999</td>
    <!-- <td><input type="submit" th:name="'/edit/' + ${yokin.yokinId}" value="編集"/></td> -->
    <!-- 編集ボタン -->
    <td th:if="${yokinForm.editId} == 0">
      <a th:href="@{'/goToYokin/edit/' + *{yokinId}}">編集</a>
    </td>
    <td th:if="${yokinForm.editId} == *{yokinId}">
      <a th:href="@{'/goToYokin/update/' + *{yokinId}}">確定</a>
    </td>
    <!-- 削除ボタン -->
    <td th:if="${yokinForm.editId} == 0">
      <input type="submit" th:name="'/delete/' + ${yokin.yokinId}" value="削除"/>
    </td>
  </tr>
</tbody>
<tfoot>
<tr>
<td>フッタセル1</td>
<td>フッタセル2</td>
<td>フッタセル3</td>
<td>フッタセル4</td>
<td>フッタセル5</td>
<td>フッタセル6</td>
<td>フッタセル7</td>
<td>フッタセル6</td>
<td>フッタセル7</td>
<td>フッタセル6</td>
</tr>
</tfoot>
</table>
<!-- </form> -->
</form>


</body>
</html>