<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>トップ画面</title>
<meta charset="utf-8"/>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
</head>
<body>
<h1>部屋テーブル</h1>
<table>
  <tr th:each="room : ${rooms}" th:object="${room}">
    <td th:text="*{roomId}">100</td>
    <td th:text="*{roomName}"></td>
    <td th:text="*{capacity}"></td>
  </tr>
</table>
<p>
<form role="form" action="#" th:action="@{/second2}" th:object="${topForm}" method="post">	
  <div th:text="*{id}">100</div>
  <input type="button" value="テスト" onclick="submitAction(this,'second2', 'post');"/>
</form>
</body>
</html>