<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>動作確認（リダイレクト）</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
h1 { font-size:18pt; font-weight:bold; color:gray; }
body { font-size:13pt; color:gray; matgin:5px 25px; }
</style>
</head>
<body>
<h1>動作確認（リダイレクト）</h1>
<p class="msg">this is Thymeleaf sample page.</p>
<p class="msg" th:text="${msg}">please wait...</p>
<!-- ------------------------------------------------------ -->
<!-- ------------------------------------------------------ -->
<h2>このページはリダイレクト</h2>
<!-- ------------------------------------------------------ -->
<hr>
<a th:href="@{/}" >先頭へ</a>
</body>
</html>