<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
<!-- 
<web-app version="2.4" 
    xmlns="http://JAVA.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/xmlSchema-instance" 
    xsi:schemaLocation="http://JAVA.sun.com/xml/ns/j2ee 
        http://JAVA.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 -->
	<display-name>SpringMVCapp001</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>springbook.config.WebSecurityConfig</param-value>
    </context-param>
    <!-- 
    FilterChainProxyが受け取ったリクエストに対して適用する 「Security Filterのリスト」を管理するためのインターフェイス
     -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> 
    </filter>
    <!-- 
    フレームワーク処理のエントリーポイントとなるサーブレットフィルタクラス
    フレームワーク処理の全体の流れを制御し、具体的なセキュリティ対策処理はSecurity Filter に委譲
     -->
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 
    「静的リソースにアクセスするための公開パス」をJSPタグライブラリやThymeleaf DialectなどのView部品経由
    で解決できるようにします
     -->
    <filter>
        <filter-name>ResourceUrlEncodingFilter</filter-name>
        <filter-class>org.springframework.web.servlet.resource.ResourceUrlEncodingFilter</filter-class>
    </filter> 
    <filter-mapping>
        <filter-name>ResourceUrlEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- 
    <servlet>
      <multipart-config /> 
    </servlet>

  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
     -->

    
</web-app>
