<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
<h2>Hello World!</h2>
<ul>
  <li><a href="./echo/input.html" th:href="@{/echo/input}" >エコーアプリケーションへ</a></li>
</ul>

<!-- 属性値に指定した値をXHTMLサニタイジングして出力する -->
<span th:text="*{echoForm.text}"><b>ご利用規約へ同意</b>が必要です。</span><br />

<!-- 属性値に指定した値をXHTMLサニタイジングせずに出力する -->
<span th:utext="*{echoForm.text}"><b>ご利用規約へ同意</b>が必要です。</span><br />

</body>
</html>